<!DOCTYPE html>
<html>
<head>
  <title>Amenities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="generateURL">
      <label v-for="amenity in amenities" :key="amenity.value">
        <input type="checkbox" v-model="selectedAmenities" :value="amenity.value">
        {{ amenity.label }}
      </label><br>
    </form>

    <iframe :src="encodedURL" id="map-iframe" style = "width: 100%; height: 90vh;" frameborder="0" allowfullscreen>     </iframe>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        amenities: [
          { label: 'Toilets', value: 'toilets' },
          { label: 'Drinking Water', value: 'drinking_water' },
          { label: 'Bench', value: 'bench' },
          { label: 'Museum', value: 'museum' }
        ],
        selectedAmenities: [],
        latitude: '47.66',
        longitude: '-122.37',
      },
      computed: {
        encodedURL: function() {
          const urlString = `[out:json][timeout:25];

(
  ${this.selectedAmenities
            .map(amenity => `node[amenity=${amenity}](around:50000,${this.latitude},${this.longitude});`)
            .join('\n  ')}
);
out center;{{style: 
  ${this.selectedAmenities
            .map(amenity => `node[amenity=${amenity}] {
    icon-image: url("https://heduenas.github.io/athlete-amenities/${amenity}.svg");
    icon-width: 18;
  }`)
            .join('\n\n  ')}
}}`;

          return 'https://overpass-turbo.eu/map.html?Q=' + encodeURIComponent(urlString);
        }
      },
      mounted: function() {
        this.getLocation();
      },
      methods: {
        getLocation: function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    position => {
                        this.latitude = position.coords.latitude;
                        this.longitude = position.coords.longitude;
                    },
                );
            }
        }
      }
    });
  </script>
</body>
</html>
